# 1. Import / Clean Dataset

In [20]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [21]:
df = pd.read_csv('../data/compas-scores-two-years.csv')
df.head()

,id,name,first,last,compas_screening_date,sex,dob,age,age_cat,race,...,v_decile_score,v_score_text,v_screening_date,in_custody,out_custody,priors_count.1,start,end,event,two_year_recid
0,1,miguel hernandez,miguel,hernandez,2013-08-14,Male,1947-04-18,69,Greater than 45,Other,...,1,Low,2013-08-14,2014-07-07,2014-07-14,0,0,327,0,0
1,3,kevon dixon,kevon,dixon,2013-01-27,Male,1982-01-22,34,25 - 45,African-American,...,1,Low,2013-01-27,2013-01-26,2013-02-05,0,9,159,1,1
2,4,ed philo,ed,philo,2013-04-14,Male,1991-05-14,24,Less than 25,African-American,...,3,Low,2013-04-14,2013-06-16,2013-06-16,4,0,63,0,1
3,5,marcu brown,marcu,brown,2013-01-13,Male,1993-01-21,23,Less than 25,African-American,...,6,Medium,2013-01-13,NaN,NaN,1,0,1174,0,0
4,6,bouthy pierrelouis,bouthy,pierrelouis,2013-03-26,Male,1973-01-22,43,25 - 45,Other,...,1,Low,2013-03-26,NaN,NaN,2,0,1102,0,0

In [22]:
# Feature selection: we add jail time
df['jail_time']=(df['c_jail_out'].apply(pd.to_datetime) - df['c_jail_in'].apply(pd.to_datetime)).dt.days

In [23]:
feauture_name = ['age', "race", "sex", "priors_count", "c_charge_degree","jail_time","decile_score", 'score_text', 'two_year_recid'] 

df_new = df[feauture_name]
df_clean = df_new[(df['race'] == 'African-American') | (df['race'] == 'Caucasian')]
df_clean.head()

,age,race,sex,priors_count,c_charge_degree,jail_time,decile_score,score_text,two_year_recid
1,34,African-American,Male,0,F,10.0,3,Low,1
2,24,African-American,Male,4,F,1.0,4,Low,1
3,23,African-American,Male,1,F,NaN,8,High,0
6,41,Caucasian,Male,14,F,6.0,6,Medium,1
8,39,Caucasian,Female,0,M,2.0,1,Low,0

In [24]:
df_clean.dropna(inplace = True)

/var/folders/z0/1vkkg0l91j1f21qrbrn_nz780000gp/T/ipykernel_14684/2792970194.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean.dropna(inplace = True)

In [26]:
df_clean.head()

,age,race,sex,priors_count,c_charge_degree,jail_time,decile_score,score_text,two_year_recid
1,34,African-American,Male,0,F,10.0,3,Low,1
2,24,African-American,Male,4,F,1.0,4,Low,1
6,41,Caucasian,Male,14,F,6.0,6,Medium,1
8,39,Caucasian,Female,0,M,2.0,1,Low,0
9,21,Caucasian,Male,1,F,0.0,3,Low,1

In [27]:
X = df_clean[['age', "race", "sex", "priors_count", "c_charge_degree","jail_time","decile_score", 'score_text']]
y = df_clean['two_year_recid']

## Algorithm 1: Fairness Constraints: Mechanisms for Fair Classification (Yanzhao & Lei)

## Algorithm 2: Fairness Beyond Disparate Treatment & Disparate Impact: Learning Classification without Disparate Mistreatment (Hongxu & Zhengfei)